#grid-container{
    height: calc(100vh - 100px);
}
.grid-item{
    background-color: #8475c636;
    cursor: pointer;
}
.grid-item.selected{
    border: 2px solid #fb7d24;
}
.wrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: 250px auto;
    height: calc(100vh - 100px);
}
#controls {
    display: grid;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-content: space-between;
    width: 240px;
    gap: 10px;
    padding: 10px;
    align-content: start;
    background: #252a40;
    border-radius: 10px;
}
#selected-div-info{
    margin-top: 10px;
    font-weight: bold;
}
.input-field {
    padding: 10px 15px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #252a40;
    background: #686e7e;
    margin: 5px 0px;
    color:#eee;
    font-weight:bold;
}
.input-field:focus{
    outline: none;
    border: 2px solid #fb7d24;
}
.btn{
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.btn-primary{
    background-color: #fe7c22;
}
.btn-danger{
    background-color: #fd124c;
}
.btn-light{
    background-color: #6148eb;
}
